.recipe-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 40px;
  max-width: 1200px;
  margin: 40px auto;
}

.recipe-list .img {
  height: 20vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
  width: 100%;
}
.recipe-list .card {
  max-width: 400px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  color: #333;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  position: relative;
  backface-visibility: hidden;
}
.recipe-list .card:hover {
  backface-visibility: hidden;
  transform: scale(1.01);
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
}
.recipe-list .card h3 {
  color: #555;
  margin-bottom: 6px;
}
.recipe-list .card p {
  color: #999;
  font-size: 0.9em;
}
.recipe-list .card div {
  color: #555;
  font-size: 0.7em;
  margin: 0px 0;
  line-height: 1.5em;
}
.recipe-list .card a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: block;
  background: #f05454;
  font-size: 0.9em;
  text-align: center;
  width: 120px;
  padding: 8px;
  border-radius: 4px;
  margin: 0px auto;
}

.recipe-list .card a:hover {
  background: #d64f4f;
}

@media (max-width: 950px) {
  .recipe-list {
    place-items: center;
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    max-width: 100%;
    margin: 0px auto;
  }
}
